<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
        {% if states is not none or state %}<H1>State{% if state %}: {{ state.name }}{% else %}s{% endif %}</H1>
        {% if state %}<H3>Cities:</H3>
        {% endif %}{% if states is not none or state %}{% if states is not none %}<UL>
            {% for state in states.values()| sort(attribute='name') %}
                <LI>{{ state.id }}: <B>{{ state.name }}</B></LI>
        
        {% endfor %}</UL>{% endif %}{% if state %}<UL>{% for city in state.cities| sort(attribute='name') %}
                <LI>{{ city.id }}: <B>{{ city.name }}</B></LI>
        {% endfor %}</UL>{% endif %}{% endif %}
        {% else %}
        <H1>Not found!</H1>
        {% endif %}
    </BODY>
</HTML>